/* Reset: Browser Consistency (meyerweb) */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset: Form Styling (Normalize.css) */ 

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
   box-sizing: border-box; /* 1 */
   color: inherit; /* 2 */
   display: table; /* 1 */
   max-width: 100%; /* 1 */
   padding: 0; /* 3 */
   white-space: normal; /* 1 */
 }
 
 /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 
 progress {
   vertical-align: baseline;
 }
 
 /**
  * Remove the default vertical scrollbar in IE 10+.
  */
 
 textarea {
   overflow: auto;
 }
 
 /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
 
 [type="checkbox"],
 [type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }
 

/* Page Styling */ 
body {
    display: flex;
    align-items: center;
}

img {
    height: 100px;
    width: auto;
}

h1 {
    font-family: "Caesar Dressing", sans-serif;
    font-size: 72px;
    color: white;
    margin-left: 12px;
}

h3, p, label {
    font-family: "Roboto", "Helvetica", sans-serif;
}

a {
    color: #c7e1fc;
}

h3 {
    font-size: 21px;
    font-weight: 700;
}

label {
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}

input {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 400;
    height: 24px;
    width: 250px;
    border: solid lightgrey 0.75px;
    border-radius: 2px;
    margin-top: 4px;
}

input:focus {
    border: solid blue 0.5px;
    box-shadow: 4px 4px 4px lightgrey;
}

input:invalid {
    border: solid red 1px;
}

input::placeholder {
    font-weight: 100;
}

button {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 700;
    color: white;
    background-color: #6d0815;
    border: 0;
    border-radius: 8px;
    box-shadow: 4px 4px 4px lightgrey;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 36px;
    margin-left: 48px;
    margin-right: 200px;
    cursor: pointer;
}

.image-block {
    background-image: url(assets/pexels-cottonbro-studio-4722053.jpg);
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero {
    background-color: rgba(0, 0, 0, 0.5);
    height: 120px;
    width: 40vw;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-credit {
    color: white;
    padding-bottom: 8px;
}

.content-block {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro {
    background-color: #f2f2f2;
    padding-left: 48px;
    padding-right: 200px;
    padding-top: 120px;
    padding-bottom: 64px;
}

.blurb {
    margin-bottom: 36px;
}

.form-container {
    padding-left: 48px;
    padding-right: 250px;
    padding-bottom: 24px;
    box-shadow: 2px 4px 2px -2px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px; 
}

.field {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    background-color: #f2f2f2;
}

#login {
    padding-top: 36px;
    padding-left: 48px;
    padding-right: 200px;
    padding-bottom: 108px;
}

#begin {
    padding-top: 18px;
    padding-bottom: 24px;
}

#last, #phone, #confirm {
    margin-left: 75px;
}

#now {
    margin-top: 8px;
}