/* Reset: Browser Consistency (meyerweb) */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset: Form Styling (Normalize.css) */ 

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
   box-sizing: border-box; /* 1 */
   color: inherit; /* 2 */
   display: table; /* 1 */
   max-width: 100%; /* 1 */
   padding: 0; /* 3 */
   white-space: normal; /* 1 */
 }
 
 /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 
 progress {
   vertical-align: baseline;
 }
 
 /**
  * Remove the default vertical scrollbar in IE 10+.
  */
 
 textarea {
   overflow: auto;
 }
 
 /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
 
 [type="checkbox"],
 [type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }
 

/* Page Styling */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
}

.signup {
    display: flex;
    align-items: center;
    height: 700px;
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px lightgrey;
    overflow: hidden;
}

.image-block {
    background-image: url(assets/pexels-cottonbro-studio-4722053.jpg);
    background-repeat: no-repeat;
    background-size: 125%;
    height: 100%;
    width: 35%;
}

.hero {
    margin-top: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 150px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caesar Dressing", sans-serif;
    font-size: 3rem;
    color: white;
}

.content-block {
    height: 100%;
    max-width: 65%;
    background-color: #f2f2f2;
}

.intro {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 33%;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 700;
    width: 90%;
}

form {
    height: 77%;
}

form h3 {
    font-size: 1.25rem;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem 2rem;
    box-shadow: 0px 3px 5px -2px lightgrey;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3rem;
}

fieldset {
    border: none;
    display: flex;
    gap: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.field label {
    font-size: 0.7rem;
    font-weight: 700;
}

form input {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;
}

.footer {
    padding-left: 2rem;
}

button {
    background-color: #6b0815;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}